doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tram Tracker
    script(src="https://unpkg.com/htmx.org@1.9.6", integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni", crossorigin="anonymous")
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🚋</text></svg>")
  body
    main
      .card-grid
          each tram in tramData
            .card
              h2 Tram
              p.route-number= tram.routeNumber
              ul
                each minute in tram.minutes
                  li= minute + " minutes"
              p.disruptions= tram.disruptions
